button{
    position: relative;
    background: #fff; 
    border: none;
    outline:none;
    height: 50px;
    width: 50px;
    font-size: 20px; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
    cursor:pointer;
      -moz-border-radius: 5em;
      -webkit-border-radius: 5em;
      border-radius: 5em;
      margin: 15px;
    
  }
  #container{
      display: flex;
      flex-direction: row;
  }
  .task{
      cursor: pointer;
      border: black;
      border-radius: 5px;
      border-width: 1px;
      border-style: dotted;
  } 
  .dragging{
      color: blue;
  }  
 